<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Car Rental</title>
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

</head>
<body>
    <header>
        <ul class="navbar">
            <li><a href="#home">Home</a></li>
            <li><a href="#rent">Rent</a></li>
            <li><a href="#vehicle">Vehicle</a></li>
            <li><a href="#reviews">Reviews</a></li>
            <li><a href="#aboutus">About Us</a></li>
        </ul>
        
        <div class="button"></div>
        <a href="userinput.html" class=" signup">Sign Up</a>
        <a href="#" class="signin">Sign In</a>
        <a href="vehicleinput.html" class="add">Add Your<br>Veicle</a>


    </header>

    <section class="home" id=" home" >
        <div class="text">
            <h1><span>Looking</span> to <br>rent a car</h1>
            <p>make your trust</p>

        </div>

    </section>
    
    
    <!--rent-->
    <section class="rent" id="rent">
        <div class="heading">
            <span>How can rent a Car</span>
            <h1>Rent With 3 Easy Steps</h1>
        </div>

        <div class="rent-container">
            <div class="box">
                <i class='bx bx-map'></i>
                <h2>Choose A Location</h2>
            </div>

            <div class="box">
                <i class='bx bxs-calender-check'></i>
                <h2>Pick Up A Date</h2>
            </div>

            <div class="box">
                <box-icon type='solid' name='calendar-star'></box-icon>
                <h2>Book A Vehicle</h2>
            </div>
        </div>
    </section>

     <!--veicle-->
     <section class="vehicle" id="vehicle">
        <div class="heading">
            <span>Best Services</span>
            <h1>Get Your Vehicle Here <br>From Trusted Dealers </h1>
        </div>
        <div class="vehicle-container">
            <div class="box">
                <div class="box-img">
                    <img src="premio.jpg" alt="">
                </div>
                <p>Toyota</p>
                <h3>Premio</h3>
                <h2>Rs.8000 <span>daily</span></h2>
                <a href="booking.html" class="btn">Rent Now</a>
                
            </div>
        </div>
        <div class="vehicle-container">
            <div class="box">
                <div class="box-img">
                    <img src="all.jpg" alt="">
                </div>
                <p>Toyota</p>
                <h3>Allion</h3>
                <h2>Rs.8000 <span>daily</span></h2>
                <a href="booking.html" class="btn">Rent Now</a>
                
            </div>
        </div>
        <div class="vehicle-container">
            <div class="box">
                <div class="box-img">
                    <img src="vitz.jpg" alt="">
                </div>
                <p>Toyota</p>
                <h3>Vitz</h3>
                <h2>Rs.6000 <span>daily</span></h2>
                <a href="booking.html" class="btn">Rent Now</a>
                
            </div>
        </div>
        



     </section>
     
     
     <!--reviews-->
     <section class="reviews" id="reviews"></section>
     <div class="heading">
        <span>Best Reviews</span>
        <h1>High Recommends <br>From Trusted Customers </h1>
    </div>


    <script src=" main.js"></script>

</body>
</html>>