<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Registration Form</title>
</head>
<body>
<!-- Container Start -->
<div id="container">
  <!-- Form Wrap Start -->
  <div class="form-wrap">
    <h1>Add Your Car</h1>
    <p>Add you veicle details</p>
    <!-- Form Start -->
    <form>
      <div class="form-group">
        <label for="userid">User ID</label>
        <input type="text" name="userid" id="userid">
      </div>
      <div class="form-group">
        <label for="brand">Vehicle Brand</label>
        <input type="text" name="brand" id="brand">
      </div>
      <div class="form-group">
        <label for="model">Vehicle Model</label>
        <input type="text" name="model" id="model">
      </div>
      <div class="form-group">
        <label for="overview">Overview</label>
        <input type="text" name="overview" id="overview">
      </div>
      <div class="form-group">
        <label for="fueltype">Fuel Type</label>
        <input type="text" name="fueltype" id="fueltype">
      </div>
      <div class="form-group">
        <label for="ac">AC(Yes/No)</label>
        <input type="text" name="ac" id="ac">
      </div>
      <div class="form-group">
        <label for="registeryear">Register Year(YYYY)</label>
        <input type="text" name="year" id="year">
      </div>
      <div class="form-group">
        <label for="airbags">Air bags()</label>
        <input type="text" name="firstname" id="first-name">
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="image" name="image" id="image">
      </div>
      <div class="form-group">
        <label for="price">Price per Day</label>
        <input type="text" name="price" id="price">
      </div>
      <div class="form-group">
        <label for="seats">Seats</label>
        <input type="text" name="seats" id="seats">
      </div>
      

      <button type="submit">Add Your Vehicle</button>
      <p class="bottom-text">
        By Clicking the Sign Up Button, you agree to our
        <a href="#">Term & Conditions</a> and <a href="#">Primary Policy</a>
      </p>
    </form>
    <!-- Form Close -->
  </div>
  <!-- Form Wrap Close -->
  <footer>
    <p>Already Have an Account? <a href="#">Login Here</a></p>
  </footer>
</div>
<!-- Container Close -->


</body>
</html>